body {
  background-color: #4099FF;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px #999;
}

div {
  /*border: 1px solid red;*/
}

div.main-container { 

}

div.top-buttons-container {
  margin: 0 auto;
  width: 400px;
}

button.save-frame {

}

button.clear-frame {

}

button.see-all-frames {

}

div.frames-saved-textbox {
  float: right; 
}

div.drawing-pad-container {
  margin: 0 auto;
  width: 400px;
}

canvas.drawing-pad {
  border: 1px solid #999;
  text-align: center;
  background-color: #FFF;

}

div.bottom-buttons-container {
  margin: 0 auto;
  width: 400px;
}

button.reset {
  float:right;
}

span .saved-frames-count {
  width: 400px;
}

.view-saved-frames img {
  border: 1px solid black;
}
