h1 {
  font-family: Arial, sans-serif;
  text-align: center;
}

div .main-container { 
  border: 1px solid black;
}

div .top-buttons-container {
  display: block;
  width: 400px;
}

button .save-frame {

}

button .clear-frame {

}

button .see-all-frames {

}

div .frames-saved {
  float: right;
}

.drawing-pad {
  border: 1px solid #000;
}

#logo-container {
  width: 400px;
}

#logo-container img {
  display: block;
  margin: 0 auto;
}


#bottom-buttons-container {
  display: block;
  width: 400px;
}

#resetButton {
  float:right;
}

span .saved-frames-count {
  width: 400px;
}

#view-saved-frames img {
  border: 1px solid black;
}
